
.two{
    width: 60%;
    height: 400px;
    /* display: flex; */
    /* justify-content: center;
    flex-wrap: nowrap;
    align-items: center; */
    background-color:rgb(58, 2, 75);
    text-align: center;
    
}
.one{
    width:60%;
    height: 400px;
    background-image:url(./images/image-header-desktop.jpg);
    /* background-color:blue; */
    color:blueviolet;
    
    /* justify-content: center;
    flex-wrap: nowrap;
    align-items:flex-end; */
}
.parent{
    display:flex;
    /* justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center; */
    /* background-color: rgb(46, 45, 45); */
    margin: 100px;
}
.three{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:white;

}

body
{
    background-color: black;
}
img{
width:600px;
height: 400px;
color: blueviolet;
background-color: blueviolet;
}
.four{
    color: white;
}
.five{
    display: flex;
    margin-left: 40px;
    margin-top: 50px;

}
.child1{
     font-size:20px ; 
     /* font-size:; */
   font-weight: bold;
    color: white;
}
.child2{
    color: white;
    font-size:x-small;

}
.seven{
    margin-left: 70px;
}
.child3{
    font-size:20px ; 
    /* font-size:; */
  font-weight: bold;
   color: white;
}
.child4{
   color: white;
   font-size:x-small;

}
.eight{
    margin-left: 70px;
}
.child5{
    font-size:20px ; 
    /* font-size:; */
  font-weight: bold;
   color: white;
}
.child6{
   color: white;
   font-size:x-small;

}
.child8{
    background-color:rgb(195, 155, 233,50%);
    width: 100%;
    height: 100%;
}
span{
    color: blueviolet;
}

